/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet');

*{
    box-sizing: border-box;
}

header, section{
    overflow-x: hidden;
}

:root{
    --Snigle-font: "Sniglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "Lobster", cursive;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(to bottom, #dd2476, #ff512f);
    --light-gray: rgba(255,255,255,0.877);
}

nav{
    font-family: var(--Snigle-font);
    height: 190px;
    background: #dd2476;
    background: var(--bggradient);
}


